/*

# CSS 코딩 스타일 가이드

## 기본 사항

- id 선택자는 특별한 경우가 아니면 사용하지 않습니다.
- 태그 이름 선택자는 body, html 외에는 사용하지 않습니다.

## 클래스 이름 내에서의 띄어쓰기

클래스 이름 내에서 띄어쓰기를 하고 싶을 때에는 하이픈(-)을 사용하도록 합니다.
기타 상속 관계나 특정 상태를 나타내는 복잡한 클래스 이름은
BEM 방법론을 따르도록 합니다.

BEM 방법론 링크: https://medium.com/witinweb/css-%EB%B0%A9%EB%B2%95%EB%A1%A0-1-bem-block-element-modifier-1c03034e65a1

## 클래스 접두사

클래스 이름은 고스트 엔진이나 외부 CSS 파일에서 사용되는 클래스 이름과
구분되도록 접두사를 붙이도록 합니다.

문서의 특정 영역과 의미적 역할을 나타내는 클래스를 만들 때는
앞에 `sw-`를 붙입니다. (Snume Webzine의 약자)

문서의 여러 곳에서 사용되면서 의미보다는 기능적 역할을 나타내는 클래스를
만들 때는 앞에 `u-`를 붙입니다. (Utility의 약자)

예:

- '포스트 제목'을 나타내는 클래스 이름: `sw-post-title`
- '사이트 여러 곳에서 사용되며, 좌우에 정해진 값만큼 공간을 띄움'을 나타내는 클래스 이름: `u-main-spacer`

*/

body {
  margin: 30px 0;
}

.sw-logo-container {
  text-align: center;
}

.sw-site-menu {
  margin-top: 30px;
  background-color: cadetblue;
}

.sw-site-menu__link {
  color:beige;
}

.sw-loop__item {
  margin-top: 40px;
}

.sw-pagination {
  margin-top: 50px;
  text-align: center;
}

.sw-post-content {
  margin-top: 50px;
}

.sw-tag-ctx__header {
  margin-top: 50px;
}

