.sw-post-title {
  margin-top: 20px;
}

.sw-post-content {
  margin-top: 30px;
}

.sw-post-content h1 {
  font-size: 70px;
  font-weight: 600;
}

.sw-post-content h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.38;
}

.sw-post-content h3 {
  font-size: 23px;
  line-height: 40px;
  font-style: normal;
  font-weight: 600;
}

.sw-post-content p {
  color: #333;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 22px;
  text-align: justify;
  word-break: keep-all;
}

.sw-post-content a {
  color: #555;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.sw-post-content a:hover {
  color: #1abc9c;
}

.sw-post-content a:visited {
  color: #9900ff;
}

.sw-post-date {
  color: lightgray;
}

@media (max-width: 1000px) {
  .sw-post-title,
  .sw-post-content,
  .sw-post-meta {
    padding: 0 20px;
  }
}
